.main-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  padding: 10px;
  
}

.loadingOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(3, 37, 65, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  z-index: 999;
  >p {
    font-size: 2rem;
    margin-top: 1rem;
    font-family: "Roboto", sans-serif;
    letter-spacing: 2px;
  }

}
.movie__heading {
  width: 100%;
  .title__heading {
    margin-bottom: 1.5rem;
    font-family: 'Bebas Neue', sans-serif;
    margin-left: 3rem;
  }
}



.movie__card {

  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 10px;

  .movie {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    transition: all .5s ease-in-out;
    .movieImage {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      cursor: pointer;
      >img {
        border-radius: 10px;
    
        object-fit: cover;
        background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
      }
      .movie__rate {
        border: none;
        height: 25px;
        width: 35px;
        border-radius: 5px 5px 5px 5px ;
        background-color: rgba(0, 163, 64, 1);
        color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;

        font-family: 'Bebas Neue', sans-serif;
        font-size: 15px;

        position: relative;
        bottom: 310px;
        left: -77px;

      }

    }
    &:hover {
      transform: scale(1.04);
    }
  }
  .movie__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    position: relative;
    bottom: 10px;
    .movie__title {
      font-family: 'Bebas Neue', sans-serif;
      margin-bottom: 0;
      text-align: center;
      overflow: hidden ;
      text-overflow: ellipsis;
    }
    .movie__descriprion {
      margin: 8px 0;
      color: grey;
      border-bottom: 1px solid;
      font-family: 'Bebas Neue', sans-serif;
    }
    .movie__date {
      margin: 8px 0;
      color: grey;
      border-bottom: 1px solid;
      font-family: 'Bebas Neue', sans-serif;
    }
  }
  .movie__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #000;
    .movie__btn {
      align-self: center;
      color: #000;
    }
  }

}
.buttons {
  text-align: center;
  border: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
  margin: 10px;
  >p {
    font-family: "Roboto", sans-serif;
  }

}


